<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.spring.dao.UserMapper">
    <select id="getInfo" parameterType="String" resultType="com.example.spring.bean.UserBean">
        SELECT * FROM user WHERE userName = #{userName} AND userId = #{userId}
    </select>
</mapper>